

*{
    box-sizing: border-box;
  }

  .my-Slides{
      display:none;
}

body{
      font-family: Arial;
      direction: rtl; 
      text-align: right; 
      margin: 0; 
      padding: 0; 
  }

  .main-container{
      width: 100%;
      height: 850px;
      /*border: 1px solid red;*/
      position: relative;
      /*background-color: grey; */
  }

  /*-------------------------------------------*/
  /*header container + nav + logo + search list*/
.center-container{
    width: 100%;
    margin: 0 auto; 
    padding: 40px;
    background: linear-gradient(rgb(144, 144, 144) 85%, rgb(180, 180, 180));
    position: absolute; 
}

.center-container::after {
    content: "";
    clear: both;
    display: table;
}

 a{
    text-decoration: none;         
 }
 
/*nav bar*/
.top-search-container{
    position: relative;   
}

.search-btn{
    position: absolute;
    left: 162px;
    top: 1px;
}

.englhsh-btn{
    position: absolute;
    left: 330px;
    list-style: none;
    color: white; 
    font-size: 12px;
    font-weight: bold;
    top: 5px;
}

.englhsh-btn:hover{
    color: rgb(0,92,160); 
    text-decoration: underline; 
}

.input-tex{
    position: absolute;
    left: 180px;
    border-radius: 0 10px 0 0;
    width: 126px; 
}

.top-nav{
    height: 33px;
    position: relative;
    top: 47px;
    margin-bottom: 10px; 
   
}

.top-nav ul{
    display: block; 
    margin: 0 143px 0 0;
    margin-top: -15px; 
    margin-right: 23%; 
    /*float: left; */
}

.top-nav ul li{
    display: inline;  
} 

.top-nav ul li a{
    /*margin: 10px;*/
    padding: 15px; 
    color: white; 
    font-size: 15px;
    font-weight: bold; 
} 
/*------------------------------------*/
/*dropdown list*/

li {
    float: right;    
}


li a:hover, .dropdown:hover .dropbtn {
    /*background-color: red;*/
    color: rgb(0,92,160); 
}

li.dropdown {
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(144, 144, 144); 
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: right;
    border-bottom: 1px solid rgb(200,200,200);
}

.dropdown-content a:hover {
    background-color: rgb(188,188,188);
    color: rgb(0,92,160); 
    text-decoration: underline; 

}

.dropdown:hover .dropdown-content {
    display: block;
}

/*------------------------------------*/
a.logo {
    display: block; 
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: -25px;
    right: 125px;
    z-index: 1; 
}

#home-pic{
    position: absolute;
    right: 270px;
    top: 0px; 

}

#img-sep{
    color: rgb(165,165,165)
}

/*--------------------------------------*/
/*mid section*/

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column{
    /*position: absolute; */
    float: right;
    /*border: 1px solid blue; */
    width: 295px; 
    border-radius: 0 0 25px 0;
    position: relative;
    margin: 10px; 
}

.mid-container{
    position: absolute;
    width: 100%; 
    margin: 0 auto;
    padding: 30px; 
    margin-right: 10%; 
    margin-top: 8%; 
}

.column img{
    width: 100%; 
    border-radius: 0 0 25px 0;
}

.txt-container{
    position: absolute; 
    width: 80%; 
    height: 108px;
    bottom: 10px;
    right: 10px;
    /*background: url(images/images/hp_tab_text_bg.png) no-repeat 0 0;*/
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 0 0 25px 0;
    padding: 10px; 
}

.txt-container h3{ 
    font-size: 14px;
    font-weight: bold;
    margin: 0; 
    padding: 0; 
    color: white; 
}


.txt-container p{
    font-size: 13px;
    margin-top: 4px;
    color: white; 
}

#txt-underline{
    text-decoration: underline;
    font-size: 13px;
    margin-right: 150px; 
}

#txt-underline:hover{
    text-decoration: underline;
    font-size: 13px;
    margin-right: 150px; 
    color: rgb(0,92,160); ;
}

#txt-underline-white{
    text-decoration: underline white;
    font-size: 13px;
    margin-right: 150px; 
}

#txt-underline-white:hover{
    text-decoration: underline rgb(0,92,160); ;
    font-size: 13px;
    margin-right: 150px; 
}


#txt-underline-white span:hover{
    color: rgb(0,92,160); 
}

a.readMore {
    background: url(images/images/read_more_white.png) no-repeat left center;
    background-image: url(images/images/read_more_white.png);
    background-position-x: left;   
}

a.readMore span {
    padding-left: 13px;
    color: white; 
}

/*----------------------*/

.column-bottom{
    /*position: absolute; */
    position: relative;
    float: right;
    width: 292px;
    padding: 0 24px;
    height: 216px;
    background: url(images/images/small_cube_bg.png);
    margin: 10px; 
}

.column-bottom a{
    color: rgb(114,113,130); 
}

.bottom-container{
    position: absolute;
    width: 100%; 
    margin: 0 auto; 
    padding: 37px; 
    margin-top: 38%; 
    margin-right: 10%; 
}

.column-bottom h3{
    position: relative;
    height: 34px;
    right: 4px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    top: -15px; 
}

.img-israelr{
    float: left;  
}

.my-Slides{
    margin-top: -15px;
}

#img8{
    margin-top: -15px;
}
/*-----------------------------------*/

.img-israel-left{
    float: left;
    /*margin: -16px;*/
    /*position: relative;*/
}

.img-israel-left img{
    display: block; 
    margin-top: -30%; 
}

.list-rigth{
    float: right; 
}

.list-rigth ul{
    list-style: none; 
    margin-right: -40px; 
    margin-top: -10px; 
    font-size: 13px; 
    
}

/*.list-rigth ul li{
    padding: 3px; 
    margin-left: 20px; 
}*/

.list-rigth ul a{
    text-decoration: underline; 
    color: rgb(114,113,130);  
    line-height: 150%;
}

.list-rigth ul a:hover{
    color: rgb(0,92,160); 
}


/*-------------------------------------------------------*/
.footer{
    position:fixed;
    right:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background:#999;
 }
 
 .footer ul{
    display: block; 
    margin: 10px; 
    text-align: center; 
    margin-right: 10%; 
}

.footer ul li{
    display: inline;  
    padding: 5px; 
    color: white; 
} 

.footer ul li a{
    color: white; 
    font-size: 14px;
   
} 

.footer ul li a:hover{
    color: rgb(0,92,160); 
    text-decoration: underline; 
} 

#lawsuit a{
    color: red; 
}

.footer ul #lawsuit a:hover{
    color: rgb(0,92,160); 
    text-decoration: underline; 
} 

